.cart {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item {
        height: 306px;
        // width: 60%;
        display: flex;
        justify-content: space-between;
        gap: 31px;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

        &__img {
            height: 100%;
        }

        &__content {
            padding-top: 22px;
            padding-right: 22px;
            display: flex;
            flex-direction: column;
            gap: 42px;
        }

        &__title {
            display: flex;
            align-items: baseline;
            gap: 57px;
            justify-content: space-between;
        }

        &__header {
            color: #222;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 55%;
        }

        &__fields {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        &__field {
            color: #575757;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;

        &__button {
            border-color: #A4A4A4;
            padding: 16px 40px;
            border-style: solid;
            border-width: 1px;
            color: #A4A4A4;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: #FFF;
            transition: all 0.3s;
        }
    }

    &__address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding-top: 18px;

        &__title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__field {
            width: 360px;
            height: 45px;
            border: 1px solid #A4A4A4;
            box-sizing: border-box;
        }

        &__button {
            border-color: #A4A4A4;
            padding: 12px 14px;
            border-style: solid;
            border-width: 1px;
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: #FFF;
            transition: all 0.3s;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 57px;
    }

    &__checkout {
        padding: 39px 34px 42px 44px;
        background-color: #F5F3F3;
    }

    &__total {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;

        &__subtitle {
            color: #4A4A4A;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            gap: 20px;
        }

        &__title {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            display: flex;
            gap: 20px;
        }

        &__sum {
            color: $mainSelectColor;
            font-weight: 700;
        }


        &__line {
            color: #E2E2E2;
            margin-top: 21px;
            margin-bottom: 17px;
        }

        &__button {
            border-color: $mainSelectColor;
            padding: 16px 42px;
            border-style: solid;
            border-width: 1px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background-color: $mainSelectColor;
            transition: all 0.3s;
        }
    }


}