.navigation {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        color: $mainSelectColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__link {
        color: #636363;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__link_site {
        color: $mainSelectColor;
        font-weight: 700;
    }
}