.navigation {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        color: $mainSelectColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__link {
        color: #636363;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__link_site {
        color: $mainSelectColor;
        font-weight: 700;
    }
}

.product__info {
    background-color: #F7F7F7;
    padding-top: 11px;
    padding-bottom: 42px;
    text-align: center;
    position: relative;

    &__content {
        padding-top: 64px;
        padding-bottom: 64px;
        border: 1px solid #EAEAEA;
        background-color: #fff;
        position: absolute;
        top: 712px;
        left: calc(50% - 570px);
        right: calc(50% - 570px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        color: $mainSelectColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 27px;
    }

    &__small__div {
        margin-bottom: 12px;
    }


    &__title {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 48px;
    }

    &__text {
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        margin-bottom: 32px;
        width: 555px;
    }

    &__price {
        color: #EF5B70;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }

    &__long__div {
        margin-bottom: 65px;
    }

    &__choose {
        display: flex;
        align-items: center;
        gap: 23px;
        margin-bottom: 48px;
    }

    &__choose__item {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__basket__button {
        border-color: $buttonColor;
        padding: 15px 39px;
        border-style: solid;
        border-width: 1px;
        color: $buttonColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: #FFF;
        transition: all 0.3s;

        display: flex;
        align-items: center;
        gap: 23px;
    }

    &__basket__button:hover {
        color: #FFF;
        background-color: $buttonColor;
    }

    &__basket__button:hover path {
        fill: #FFF;
    }
}



.featured__product {
    margin-top: 712px;

    &__title {
        color: $mainDarkColor;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 6px;
    }

    &__text {
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    &__item {
        background: #F8F8F8;
        position: relative;
    }

    &__img {
        transition: all 0.4s;
    }

    &__item:hover &__img {
        filter: brightness(0.5);
    }

    &__item:hover &__add {
        display: flex;
    }

    &__item__content {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;
    }

    &__add:hover {
        box-shadow: 0 0 5px #fff;
    }

    &__add:hover svg path {
        fill: $mainSelectColor;
    }

    &__item__title {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__item__text {
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__item__price {
        color: $mainSelectColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}