@mixin font ($color, $fontsize, $fontweight, $line_height: normal) {
    color: $color;
    font-size: $fontsize;
    font-style: normal;
    font-weight: $fontweight;
    line-height: $line_height;
}