.header {
    min-height: 75px;
    background: $mainDarkColor;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__rightMobile {
        display: none;
    }

    &__icon:hover path {
        fill: $mainSelectColor;
    }
}

// спрятать за экран
#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.side__menu {
        right: 0;
    }
}

// при адаптиве мобильной версии нужно будет растянуть на весь экран
.side__menu {
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: $widthBurgerMenu;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    // прижат к правой границе
    right: -$widthBurgerMenu;
    transition: right .3s;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 12;

    &__title {
        @include font($mainSelectColor, 14px, 400);
    }

    &__main {
        color: #000;
        font-weight: 700;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }

    &__subtitle {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-left: 20px;
    }

    &__item {
        @include font(#6F6E6E, 14px, 400);
    }

    &__item:hover {
        color: #F16D7F;
    }
}