summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.filter__sort {
    height: 90px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color: #FFF;
        padding: 0 16px 16px 16px;
    }

    &[open] {
        background: #FFF;
        filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
    }

    &[open] &__heading {
        color: $mainSelectColor;
    }

    &[open] path {
        fill: $mainSelectColor;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        @include font (#000, 14px, 600);

        &:hover {
            cursor: pointer;
        }
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] &__title {
        color: $mainSelectColor;
    }

    &__title {
        @include font(#6F6E6E, 14px, 400);
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $mainSelectColor;

        &:hover {
            cursor: pointer;
        }
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 26px 16px;
    }

    &__link {
        @include font(#6F6E6E, 14px, 400);

        &:hover {
            color: $mainSelectColor;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 28px;

    &__details {
        position: relative;
        z-index: 11;
    }


    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;

        @include font(#6F6E6E, 14px, 400);
        font-family: 'Roboto', sans-serif;
    }

    &__heading {
        @include font(#6F6E6E, 14px, 400);
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}


.featured__catalog {
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    width: 283px;
    height: 43px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    &__pages {
        @include font(#C4C4C4, 16px, 300);
    }

    &__select {
        color: $mainSelectColor;
    }
}